= render partial: '/layouts/header'

.main
  = render partial: '/layouts/sidebar'
       
  .main__content
    .main__content--upper
      =link_to "#" 
      %figure.user_icon
        = image_tag '/Alien.png', height: '60px', width: '60', class: 'user_icon'
      %h2.bold ユーザー
      .upper__number
        %label.mypage_moji 評価
        %span.bold 77
        %label.mypage_moji 出品数
        %span.bold 77

    .main__content--middle
      .head
        %h2.head__tab
          購入した商品
      %section.mypage-tab-container
        %ul.mypage-tabs
          %li.active 
            %h3
            = link_to "#" do
              取引中
          %li
            %h3
            = link_to "#" do
              過去の取引
        .tab-content
          %ul.item-list
            %li.item-list__message
              取引中の商品がありません

= render partial: '/layouts/footer'